table
{
    border-collapse: collapse; 
    width: 30%;
    height: 200px;
    margin: auto;
    vertical-align: middle;
}
td
{
    border: 1px solid black;
    width: 33%;
    height: 33%;
}
img 
{
	width: 15%;
	
	
}